# This is Pizza Sales Analysis

Having 4 dataset

In [ ]:
import pandas as pd
import time
import logging
from sqlalchemy import create_engine
import warnings

warnings.filterwarnings('ignore')

# --- Setup logger ---
logger = logging.getLogger(__name__)
logger.setLevel(logging.INFO)

# Remove old handlers if they exist
if logger.hasHandlers():
    logger.handlers.clear()

file_handler = logging.FileHandler("log_file.log", mode="w")
formatter = logging.Formatter(" %(asctime)s - %(levelname)s - %(message)s",datefmt='%Y-%m-%d %H:%M:%S')
file_handler.setFormatter(formatter)
logger.addHandler(file_handler)

logger.info("--- Logging started. ---")

# --- Create database engine ---
engine = create_engine("sqlite:///pizza.db")
logger.info(f"Successfully created the engine: {engine}")

# --- Read CSV files ---
files = {
    "order_details": "/content/order_details.csv",
    "orders": "/content/orders.csv",
    "pizzas_type": "/content/pizza_types.csv",
    "pizzas": "/content/pizzas.csv"
}

dataframes = {}

for name, path in files.items():
    try:
        if name == "pizzas_type":
            df = pd.read_csv(path, encoding='latin')
        else:
            df = pd.read_csv(path)
        dataframes[name] = df
        logger.info(f"Loaded '{name}' with shape {df.shape}.")
        print(f"{name} : {df.shape}")
    except FileNotFoundError:
        logger.error(f"File '{path}' not found.")
    except Exception as e:
        logger.error(f"Error loading '{name}': {e}")

# --- Insert DataFrames into database ---
chunksize = 10000

for table_name, df in dataframes.items():
    logger.info(f"Starting to insert DataFrame into table '{table_name}'.")
    print(50 * "-")  # Separator line before starting each table insertion
    try:
        start_time = time.time()
        i = 0
        for start in range(0, len(df), chunksize):
            chunk = df.iloc[start:start+chunksize]
            chunk.to_sql(table_name, con=engine, if_exists="append", index=False)
            i += 1
            logger.info(f"Inserted chunk {i} with {chunk.shape[0]} rows into '{table_name}' table.")

        end_time = time.time()
        total_time = end_time - start_time
        print(f"Total time taken to insert '{table_name}': {total_time:.2f} seconds")
        logger.info(f"✅ Finished inserting into '{table_name}' table in {total_time:.2f} seconds.")

    except Exception as e:
        logger.error(f"An error occurred while inserting into '{table_name}': {e}")

    print(50 * "-")  # Separator line after finishing each table insertion

logger.info("✅ All DataFrames inserted successfully!")

# --- Ensure all logs are written ---
for handler in logger.handlers:
    handler.flush()

""" Print the log file contents ---
print("\n=== Log File Contents ===")
with open("log_file.log", "r") as file:
    print(file.read())"""

INFO:__main__:--- Logging started. ---
INFO:__main__:Successfully created the engine: Engine(sqlite:///pizza.db)
INFO:__main__:Loaded 'order_details' with shape (48620, 4).
INFO:__main__:Loaded 'orders' with shape (21350, 3).
INFO:__main__:Loaded 'pizzas_type' with shape (32, 4).
INFO:__main__:Loaded 'pizzas' with shape (96, 4).
INFO:__main__:Starting to insert DataFrame into table 'order_details'.

order_details : (48620, 4)
orders : (21350, 3)
pizzas_type : (32, 4)
pizzas : (96, 4)
--------------------------------------------------

INFO:__main__:Inserted chunk 1 with 10000 rows into 'order_details' table.
INFO:__main__:Inserted chunk 2 with 10000 rows into 'order_details' table.
INFO:__main__:Inserted chunk 3 with 10000 rows into 'order_details' table.
INFO:__main__:Inserted chunk 4 with 10000 rows into 'order_details' table.
INFO:__main__:Inserted chunk 5 with 8620 rows into 'order_details' table.
INFO:__main__:✅ Finished inserting into 'order_details' table in 0.40 seconds.
INFO:__main__:Starting to insert DataFrame into table 'orders'.
INFO:__main__:Inserted chunk 1 with 10000 rows into 'orders' table.
INFO:__main__:Inserted chunk 2 with 10000 rows into 'orders' table.
INFO:__main__:Inserted chunk 3 with 1350 rows into 'orders' table.
INFO:__main__:✅ Finished inserting into 'orders' table in 0.13 seconds.
INFO:__main__:Starting to insert DataFrame into table 'pizzas_type'.
INFO:__main__:Inserted chunk 1 with 32 rows into 'pizzas_type' table.
INFO:__main__:✅ Finished inserting into 'pizzas_type' table in 0.01 seconds.
INFO:__main__:Starting to insert DataFrame into table 'pizzas'.
INFO:__main__:Inserted chunk 1 with 96 rows into 'pizzas' table.
INFO:__main__:✅ Finished inserting into 'pizzas' table in 0.01 seconds.
INFO:__main__:✅ All DataFrames inserted successfully!

Total time taken to insert 'order_details': 0.40 seconds
--------------------------------------------------
--------------------------------------------------
Total time taken to insert 'orders': 0.13 seconds
--------------------------------------------------
--------------------------------------------------
Total time taken to insert 'pizzas_type': 0.01 seconds
--------------------------------------------------
--------------------------------------------------
Total time taken to insert 'pizzas': 0.01 seconds
--------------------------------------------------

' Print the log file contents ---\nprint("\n=== Log File Contents ===")\nwith open("log_file.log", "r") as file:\n    print(file.read())'

In [ ]:
for data , df in dataframes.items():
  print(data,end=" ")
  print(" ")
  print(df.head())

order_details
   order_details_id  order_id       pizza_id  quantity
0                 1         1     hawaiian_m         1
1                 2         2  classic_dlx_m         1
2                 3         2  five_cheese_l         1
3                 4         2    ital_supr_l         1
4                 5         2     mexicana_m         1
orders
   order_id        date      time
0         1  2015-01-01  11:38:36
1         2  2015-01-01  11:57:40
2         3  2015-01-01  12:12:28
3         4  2015-01-01  12:16:31
4         5  2015-01-01  12:21:30
pizzas_type
  pizza_type_id                          name category  \
0       bbq_ckn    The Barbecue Chicken Pizza  Chicken
1      cali_ckn  The California Chicken Pizza  Chicken
2   ckn_alfredo     The Chicken Alfredo Pizza  Chicken
3     ckn_pesto       The Chicken Pesto Pizza  Chicken
4    southw_ckn   The Southwest Chicken Pizza  Chicken

                                         ingredients
0  Barbecued Chicken, Red Peppers, Green Peppers,...
1  Chicken, Artichoke, Spinach, Garlic, Jalapeno ...
2  Chicken, Red Onions, Red Peppers, Mushrooms, A...
3  Chicken, Tomatoes, Red Peppers, Spinach, Garli...
4  Chicken, Tomatoes, Red Peppers, Red Onions, Ja...
pizzas
     pizza_id pizza_type_id size  price
0   bbq_ckn_s       bbq_ckn    S  12.75
1   bbq_ckn_m       bbq_ckn    M  16.75
2   bbq_ckn_l       bbq_ckn    L  20.75
3  cali_ckn_s      cali_ckn    S  12.75
4  cali_ckn_m      cali_ckn    M  16.75

📊 Data Overview – What I see
1. Order Details (order_details)

Tracks each item in an order.

Shows which pizzas are ordered and in what quantity.

✅ Useful to understand customer preferences and popular pizzas.

In [ ]:
sql=pd.read_sql(""" select pizza_type_id,
 sum(quantity) as totalquantity from order_details
 join
 pizzas
 on order_details.pizza_id=pizzas.pizza_id
 group by pizza_type_id
 order by totalquantity DESC limit 10
""", engine)

In [ ]:
sql

  pizza_type_id  totalquantity
0   classic_dlx           9812
1       bbq_ckn           9728
2      hawaiian           9688
3     pepperoni           9672
4      thai_ckn           9484
5      cali_ckn           9480
6      sicilian           7752
7    spicy_ital           7696
8    southw_ckn           7668
9      big_meat           7656

THIS INDICATES THAT OUR TOP 10 BEST PIZZAS ARE :

1.Lclassic_dlx

2	bbq_ckn	2432

3	hawaiian	2422

4	pepperoni	2418

5	thai_ckn	2371

6	cali_ckn	2370

7	sicilian	1938

8	spicy_ital	1924

9	southw_ckn	1917

10	big_meat	1914

2. Orders (orders)

Contains order timestamps.

 Great to analyze peak hours, busiest days, and patterns in customer behavior.

In [ ]:
sql = pd.read_sql("""
    SELECT strftime('%w', date) AS day_of_week,
           COUNT(*) AS total_order
    FROM orders
    GROUP BY day_of_week
    ORDER BY total_order DESC
""", engine)
sql2 = pd.read_sql("""
    SELECT strftime('%H', time) AS time_of_day,
           COUNT(*) AS total_order
    FROM orders
    GROUP BY time_of_day
    ORDER BY total_order DESC
""", engine)
day_mapping = {
    '0': 'Sunday',
    '1': 'Monday',
    '2': 'Tuesday',
    '3': 'Wednesday',
    '4': 'Thursday',
    '5': 'Friday',
    '6': 'Saturday'
}

# Apply the mapping
sql['day_of_week'] = sql['day_of_week'].map(day_mapping)
sql3 = pd.read_sql("""
    SELECT date,
           COUNT(*) AS total_order
    FROM orders
    GROUP BY date
    ORDER BY total_order DESC limit 10
""", engine)

In [ ]:
print(" the bussiest day of the week are :")
print(sql)
print("the peak hours are : ")
print(sql2)
print("the busiest days are :")
print(sql3)

 the bussiest day of the week are :
  day_of_week  total_order
0      Friday         7076
1    Thursday         6478
2    Saturday         6316
3   Wednesday         6048
4     Tuesday         5946
5      Monday         5588
6      Sunday         5248
the peak hours are :
   time_of_day  total_order
0           12         5040
1           13         4910
2           18         4798
3           17         4672
4           19         4018
5           16         3840
6           20         3284
7           14         2944
8           15         2936
9           11         2462
10          21         2396
11          22         1326
12          23           56
13          10           16
14          09            2
the busiest days are :
         date  total_order
0  2015-11-27          230
1  2015-11-26          226
2  2015-10-15          214
3  2015-07-04          210
4  2015-05-15          188
5  2015-07-03          186
6  2015-02-01          174
7  2015-10-01          168
8  2015-07-17          164
9  2015-08-14          162

THIS SHOWS THAT THE BUSIEST DAY IN A WEEK WAS FRIDAY , BUSIEST HOUR WAS 12 PM AND BUSIEST DAY WAS 2015-NOV-27

3. Pricing Strategy

Prices vary by size. But are they aligned with customer preferences or competitors?

Condition: Analyze how pricing impacts order frequency and customer satisfaction.

Explore bundling options or loyalty discounts.

In [ ]:
sql=pd.read_sql("""
select size , sum(quantity) as total_quantity , avg(price) as avg_price from order_details join pizzas
on order_details.pizza_id=pizzas.pizza_id
group by size
order by total_quantity Desc""", engine)

In [ ]:
sql

  size  total_quantity  avg_price
0    L           75824  19.802553
1    M           62540  15.951219
2    S           57612  12.364328
3   XL            2208  25.500000
4  XXL             112  35.950000

Large pizzas (L) are by far the most popular — nearly 19,000 orders.

Customers likely see them as a good balance between quantity and price.

Medium pizzas (M) are also ordered frequently → customers value affordability.

Small pizzas (S) have slightly lower but still significant orders → perhaps for individuals or light meals.

Extra-large (XL) and XXL pizzas are barely ordered → they might be too expensive or too much for typical customers.

. Customer Behavior & Peak Hours

Orders have date and time stamps.

Problem: If I don’t know peak hours or slow times, I cannot staff properly or plan marketing pushes.

Example: If orders spike around lunch but taper off later, I might introduce meal deals at off-peak hours.

In [ ]:
sql = pd.read_sql("""
    SELECT strftime('%w', date) AS day_of_week,
           COUNT(*) AS total_order
    FROM orders
    GROUP BY day_of_week
    ORDER BY total_order DESC
""", engine)
sql2 = pd.read_sql("""
    SELECT strftime('%H', time) AS time_of_day,
           COUNT(*) AS total_order
    FROM orders
    GROUP BY time_of_day
    ORDER BY total_order DESC limit 6
""", engine)
day_mapping = {
    '0': 'Sunday',
    '1': 'Monday',
    '2': 'Tuesday',
    '3': 'Wednesday',
    '4': 'Thursday',
    '5': 'Friday',
    '6': 'Saturday'
}
print("the bussiest day of the week are :-")
print(sql)
print('the peak hour are:-')
print(sql2)

the bussiest day of the week are :-
  day_of_week  total_order
0           5         7076
1           4         6478
2           6         6316
3           3         6048
4           2         5946
5           1         5588
6           0         5248
the peak hour are:-
  time_of_day  total_order
0          12         5040
1          13         4910
2          18         4798
3          17         4672
4          19         4018
5          16         3840

In [ ]:
logger.info("completed 4 tasks")

INFO:__main__:completed 4 tasks

In [ ]:
with open("log_file.log","r") as file :
  print(file.read())

 2025-09-17 19:01:32 - INFO - --- Logging started. ---
 2025-09-17 19:01:32 - INFO - Successfully created the engine: Engine(sqlite:///pizza.db)
 2025-09-17 19:01:32 - INFO - Loaded 'order_details' with shape (48620, 4).
 2025-09-17 19:01:32 - INFO - Loaded 'orders' with shape (21350, 3).
 2025-09-17 19:01:32 - INFO - Loaded 'pizzas_type' with shape (32, 4).
 2025-09-17 19:01:32 - INFO - Loaded 'pizzas' with shape (96, 4).
 2025-09-17 19:01:32 - INFO - Starting to insert DataFrame into table 'order_details'.
 2025-09-17 19:01:32 - INFO - Inserted chunk 1 with 10000 rows into 'order_details' table.
 2025-09-17 19:01:33 - INFO - Inserted chunk 2 with 10000 rows into 'order_details' table.
 2025-09-17 19:01:33 - INFO - Inserted chunk 3 with 10000 rows into 'order_details' table.
 2025-09-17 19:01:33 - INFO - Inserted chunk 4 with 10000 rows into 'order_details' table.
 2025-09-17 19:01:33 - INFO - Inserted chunk 5 with 8620 rows into 'order_details' table.
 2025-09-17 19:01:33 - INFO - ✅ Finished inserting into 'order_details' table in 0.40 seconds.
 2025-09-17 19:01:33 - INFO - Starting to insert DataFrame into table 'orders'.
 2025-09-17 19:01:33 - INFO - Inserted chunk 1 with 10000 rows into 'orders' table.
 2025-09-17 19:01:33 - INFO - Inserted chunk 2 with 10000 rows into 'orders' table.
 2025-09-17 19:01:33 - INFO - Inserted chunk 3 with 1350 rows into 'orders' table.
 2025-09-17 19:01:33 - INFO - ✅ Finished inserting into 'orders' table in 0.13 seconds.
 2025-09-17 19:01:33 - INFO - Starting to insert DataFrame into table 'pizzas_type'.
 2025-09-17 19:01:33 - INFO - Inserted chunk 1 with 32 rows into 'pizzas_type' table.
 2025-09-17 19:01:33 - INFO - ✅ Finished inserting into 'pizzas_type' table in 0.01 seconds.
 2025-09-17 19:01:33 - INFO - Starting to insert DataFrame into table 'pizzas'.
 2025-09-17 19:01:33 - INFO - Inserted chunk 1 with 96 rows into 'pizzas' table.
 2025-09-17 19:01:33 - INFO - ✅ Finished inserting into 'pizzas' table in 0.01 seconds.
 2025-09-17 19:01:33 - INFO - ✅ All DataFrames inserted successfully!
 2025-09-17 19:01:33 - INFO - completed 4 tasks

✅ 5. Menu Customization and Trends

Ingredient data helps understand dietary trends (e.g. vegan options, low-carb, etc.).

Condition: I can innovate or adjust recipes based on customer preferences.

In [ ]:
sql = pd.read_sql("""
   select  ingredients from pizzas_type where pizza_type_id="classic_dlx"
""", engine)
sql

                                         ingredients
0  Pepperoni, Mushrooms, Red Onions, Red Peppers,...
1  Pepperoni, Mushrooms, Red Onions, Red Peppers,...

In [ ]:
sql = pd.read_sql("""
    SELECT pt.category, SUM(od.quantity) AS total_orders
    FROM order_details od
    JOIN pizzas p ON od.pizza_id = p.pizza_id
    JOIN pizzas_type pt ON p.pizza_type_id = pt.pizza_type_id
    GROUP BY pt.category
    ORDER BY total_orders DESC
""", engine)

print(sql)

  category  total_orders
0  Classic        119104
1  Supreme         95896
2   Veggie         93192
3  Chicken         88400

In [ ]:
sql = pd.read_sql("""
    SELECT pt.name,
           SUM(od.quantity) AS total_quantity,
           CASE
                WHEN pt.ingredients LIKE '%Chicken%'
                  OR pt.ingredients LIKE '%Bacon%'
                  OR pt.ingredients LIKE '%Ham%'
                  OR pt.ingredients LIKE '%Salmon%'
                  OR pt.ingredients LIKE '%Beef%'
                THEN 'Non-Vegetarian'
                ELSE 'Vegetarian'
           END AS diet_type
    FROM order_details od
    JOIN pizzas p
        ON od.pizza_id = p.pizza_id
    JOIN pizzas_type pt
        ON p.pizza_type_id = pt.pizza_type_id
    GROUP BY pt.name, diet_type
    ORDER BY total_quantity DESC
""", engine)

print(sql)

                                          name  total_quantity       diet_type
0                     The Classic Deluxe Pizza           19624  Non-Vegetarian
1                   The Barbecue Chicken Pizza           19456  Non-Vegetarian
2                           The Hawaiian Pizza           19376  Non-Vegetarian
3                          The Pepperoni Pizza           19344      Vegetarian
4                       The Thai Chicken Pizza           18968  Non-Vegetarian
5                 The California Chicken Pizza           18960  Non-Vegetarian
6                           The Sicilian Pizza           15504      Vegetarian
7                      The Spicy Italian Pizza           15392      Vegetarian
8                  The Southwest Chicken Pizza           15336  Non-Vegetarian
9                           The Big Meat Pizza           15312  Non-Vegetarian
10                       The Four Cheese Pizza           15216      Vegetarian
11                   The Italian Supreme Pizza           15072      Vegetarian
12           The Vegetables + Vegetables Pizza           12208      Vegetarian
13                          The Mexicana Pizza           11872      Vegetarian
14                        The Napolitana Pizza           11712      Vegetarian
15            The Prosciutto and Arugula Pizza           11656      Vegetarian
16                     The Pepper Salami Pizza           11568      Vegetarian
17                  The Spinach and Feta Pizza           11568      Vegetarian
18                 The Italian Capocollo Pizza           11504      Vegetarian
19                             The Greek Pizza           11360  Non-Vegetarian
20                       The Five Cheese Pizza           11272      Vegetarian
21  The Pepperoni, Mushroom, and Peppers Pizza           10872      Vegetarian
22                      The Green Garden Pizza            7976      Vegetarian
23                   The Chicken Alfredo Pizza            7896  Non-Vegetarian
24                The Italian Vegetables Pizza            7848      Vegetarian
25                     The Chicken Pesto Pizza            7784  Non-Vegetarian
26                     The Spinach Pesto Pizza            7760      Vegetarian
27                       The Soppressata Pizza            7688      Vegetarian
28                   The Spinach Supreme Pizza            7600      Vegetarian
29                         The Calabrese Pizza            7496      Vegetarian
30                     The Mediterranean Pizza            7472      Vegetarian
31                        The Brie Carre Pizza            3920      Vegetarian

In [ ]:
sql = pd.read_sql("""
    SELECT
        SUM(od.quantity) AS total_quantity,
        SUM(od.quantity * p.price) AS total_revenue,
        SUM(p.price * 60)/100 AS estimated_cost,
        SUM(od.quantity * p.price) - SUM(p.price * 60)/100 AS profit,
        (SUM(od.quantity * p.price) - SUM(p.price * 60)/100) / SUM(od.quantity * p.price) * 100 AS margin_percent,
        CASE
            WHEN pt.ingredients LIKE '%Chicken%'
              OR pt.ingredients LIKE '%Bacon%'
              OR pt.ingredients LIKE '%Ham%'
              OR pt.ingredients LIKE '%Salmon%'
              OR pt.ingredients LIKE '%Beef%'
            THEN 'Non-Vegetarian'
            ELSE 'Vegetarian'
        END AS diet_type
    FROM order_details od
    JOIN pizzas p
        ON od.pizza_id = p.pizza_id
    JOIN pizzas_type pt
        ON p.pizza_type_id = pt.pizza_type_id
    GROUP BY diet_type
    ORDER BY total_quantity DESC
""", engine)

print(sql)

   total_quantity  total_revenue  estimated_cost      profit  margin_percent  \
0          242520      4000517.6      2358346.08  1642171.52       41.048976
1          154072      2542362.8      1490988.48  1051374.32       41.354221

        diet_type
0      Vegetarian
1  Non-Vegetarian

✅ 6. Profitability Monitoring

By combining orders and pricing data, I can track revenue and cost for each pizza.

Problem: Some pizzas may have high ingredient costs but low margins, which can reduce profitability.

Action: Identify high-cost, low-margin pizzas to control waste and adjust pricing strategies.

In [ ]:
  sql = pd.read_sql("""
    SELECT pt.name,
           SUM(od.quantity) AS total_quantity,
           p.price AS price_per_unit,
           SUM(od.quantity * p.price) AS total_revenue
    FROM order_details od
    JOIN pizzas p
        ON od.pizza_id = p.pizza_id
    JOIN pizzas_type pt
        ON p.pizza_type_id = pt.pizza_type_id
    GROUP BY pt.name, p.price
    ORDER BY total_revenue DESC
""", engine)

print(sql)

                         name  total_quantity  price_per_unit  total_revenue
0      The Thai Chicken Pizza           11280           20.75       234060.0
1       The Five Cheese Pizza           11272           18.50       208532.0
2       The Four Cheese Pizza           10528           17.95       188977.6
3     The Spicy Italian Pizza            8872           20.75       184094.0
4          The Big Meat Pizza           15312           12.00       183744.0
..                        ...             ...             ...            ...
86         The Mexicana Pizza            1296           12.00        15552.0
87     The Green Garden Pizza             760           20.25        15390.0
88  The Chicken Alfredo Pizza             768           12.75         9792.0
89        The Calabrese Pizza             792           12.25         9702.0
90            The Greek Pizza             224           35.95         8052.8

[91 rows x 4 columns]

you can assume a cost percentage based on typical food industry practices, e.g.:

Assume the cost of ingredients is 60% of the price → cost = price × 0.6

Or define custom cost ratios by pizza category.

In [ ]:
# Assume 60% cost for simplicity
sql['estimated_cost'] = sql['price_per_unit'] * 0.6
sql['profit'] = sql['total_revenue'] - sql['estimated_cost'] * sql['total_quantity']
sql['margin_percent'] = (sql['profit'] / sql['total_revenue']) * 100

print(sql)

                         name  total_quantity  price_per_unit  total_revenue  \
0      The Thai Chicken Pizza           11280           20.75       234060.0
1       The Five Cheese Pizza           11272           18.50       208532.0
2       The Four Cheese Pizza           10528           17.95       188977.6
3     The Spicy Italian Pizza            8872           20.75       184094.0
4          The Big Meat Pizza           15312           12.00       183744.0
..                        ...             ...             ...            ...
86         The Mexicana Pizza            1296           12.00        15552.0
87     The Green Garden Pizza             760           20.25        15390.0
88  The Chicken Alfredo Pizza             768           12.75         9792.0
89        The Calabrese Pizza             792           12.25         9702.0
90            The Greek Pizza             224           35.95         8052.8

    estimated_cost    profit  margin_percent
0            12.45  93624.00            40.0
1            11.10  83412.80            40.0
2            10.77  75591.04            40.0
3            12.45  73637.60            40.0
4             7.20  73497.60            40.0
..             ...       ...             ...
86            7.20   6220.80            40.0
87           12.15   6156.00            40.0
88            7.65   3916.80            40.0
89            7.35   3880.80            40.0
90           21.57   3221.12            40.0

[91 rows x 7 columns]

In [ ]:
for i,row in sql.iterrows():
    if sql["margin_percent"].iloc[i] < 40:
        print(i,row["name"],"--loss")
    else:
        print(i,row["name"], "--profit")

0 The Thai Chicken Pizza --profit
1 The Five Cheese Pizza --profit
2 The Four Cheese Pizza --profit
3 The Spicy Italian Pizza --profit
4 The Big Meat Pizza --profit
5 The Southwest Chicken Pizza --profit
6 The Barbecue Chicken Pizza --profit
7 The California Chicken Pizza --profit
8 The Classic Deluxe Pizza --profit
9 The Mexicana Pizza --loss
10 The Barbecue Chicken Pizza --profit
11 The California Chicken Pizza --profit
12 The Italian Supreme Pizza --profit
13 The Italian Supreme Pizza --profit
14 The Hawaiian Pizza --profit
15 The Italian Capocollo Pizza --profit
16 The Pepper Salami Pizza --profit
17 The Greek Pizza --profit
18 The Sicilian Pizza --profit
19 The Chicken Alfredo Pizza --profit
20 The Pepperoni Pizza --profit
21 The Napolitana Pizza --profit
22 The Brie Carre Pizza --loss
23 The Pepperoni Pizza --profit
24 The Hawaiian Pizza --profit
25 The Vegetables + Vegetables Pizza --profit
26 The Prosciutto and Arugula Pizza --profit
27 The Classic Deluxe Pizza --profit
28 The Classic Deluxe Pizza --profit
29 The Sicilian Pizza --profit
30 The Sicilian Pizza --profit
31 The Calabrese Pizza --profit
32 The Prosciutto and Arugula Pizza --profit
33 The Spinach and Feta Pizza --profit
34 The Spinach and Feta Pizza --profit
35 The Southwest Chicken Pizza --profit
36 The Vegetables + Vegetables Pizza --profit
37 The Four Cheese Pizza --profit
38 The Soppressata Pizza --profit
39 The Chicken Pesto Pizza --profit
40 The Italian Vegetables Pizza --profit
41 The Thai Chicken Pizza --profit
42 The Mediterranean Pizza --profit
43 The Pepperoni Pizza --profit
44 The Mexicana Pizza --profit
45 The Green Garden Pizza --profit
46 The Pepper Salami Pizza --profit
47 The Napolitana Pizza --profit
48 The Spicy Italian Pizza --profit
49 The Pepperoni, Mushroom, and Peppers Pizza --profit
50 The Italian Capocollo Pizza --profit
51 The Hawaiian Pizza --profit
52 The California Chicken Pizza --profit
53 The Pepperoni, Mushroom, and Peppers Pizza --profit
54 The Barbecue Chicken Pizza --profit
55 The Thai Chicken Pizza --profit
56 The Spinach Pesto Pizza --profit
57 The Spinach Supreme Pizza --profit
58 The Pepperoni, Mushroom, and Peppers Pizza --profit
59 The Napolitana Pizza --profit
60 The Calabrese Pizza --profit
61 The Vegetables + Vegetables Pizza --profit
62 The Prosciutto and Arugula Pizza --profit
63 The Spinach and Feta Pizza --profit
64 The Greek Pizza --profit
65 The Spicy Italian Pizza --profit
66 The Spinach Pesto Pizza --profit
67 The Spinach Supreme Pizza --profit
68 The Green Garden Pizza --profit
69 The Southwest Chicken Pizza --profit
70 The Spinach Pesto Pizza --profit
71 The Chicken Pesto Pizza --profit
72 The Greek Pizza --profit
73 The Soppressata Pizza --loss
74 The Spinach Supreme Pizza --profit
75 The Mediterranean Pizza --profit
76 The Pepper Salami Pizza --profit
77 The Italian Vegetables Pizza --profit
78 The Chicken Alfredo Pizza --profit
79 The Italian Vegetables Pizza --profit
80 The Chicken Pesto Pizza --profit
81 The Greek Pizza --profit
82 The Italian Capocollo Pizza --profit
83 The Soppressata Pizza --profit
84 The Mediterranean Pizza --profit
85 The Italian Supreme Pizza --profit
86 The Mexicana Pizza --profit
87 The Green Garden Pizza --profit
88 The Chicken Alfredo Pizza --profit
89 The Calabrese Pizza --profit
90 The Greek Pizza --loss

In [ ]:
  sql = pd.read_sql("""
    SELECT
           p.size,
           SUM(od.quantity) AS total_quantity,
           p.price AS price_per_unit,
           SUM(od.quantity * p.price) AS total_revenue
    FROM order_details od
    JOIN pizzas p
        ON od.pizza_id = p.pizza_id
    JOIN pizzas_type pt
        ON p.pizza_type_id = pt.pizza_type_id
    GROUP BY p.size
    ORDER BY total_revenue DESC
""", engine)

print(sql)

  size  total_quantity  price_per_unit  total_revenue
0    L          151648           18.50      3002549.6
1    M          125080           13.25      1995058.0
2    S          115224           12.75      1424612.0
3   XL            4416           25.50       112608.0
4  XXL             224           35.95         8052.8

In [ ]:
# Assume 60% cost for simplicity
sql['estimated_cost'] = sql['price_per_unit'] * 0.6
sql['profit'] = sql['total_revenue'] - sql['estimated_cost'] * sql['total_quantity']
sql['margin_percent'] = (sql['profit'] / sql['total_revenue']) * 100

print(sql)

  size  total_quantity  price_per_unit  total_revenue  estimated_cost  \
0    L          151648           18.50      3002549.6           11.10
1    M          125080           13.25      1995058.0            7.95
2    S          115224           12.75      1424612.0            7.65
3   XL            4416           25.50       112608.0           15.30
4  XXL             224           35.95         8052.8           21.57

       profit  margin_percent
0  1319256.80       43.937885
1  1000672.00       50.157539
2   543148.40       38.126058
3    45043.20       40.000000
4     3221.12       40.000000